In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("bitcoin_price.csv", parse_dates=['Date'])

In [2]:
df.dtypes

Date          datetime64[ns]
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume                object
Market Cap            object
dtype: object

In [3]:
df.describe()

               Open          High           Low         Close
count   1760.000000   1760.000000   1760.000000   1760.000000
mean    1479.574239   1536.991108   1418.251273   1485.747000
std     2950.457188   3092.950362   2780.859459   2959.265478
min       68.500000     74.560000     65.530000     68.430000
25%      274.730000    279.857500    268.640000    274.875000
50%      480.715000    495.195000    472.510000    482.810000
75%      870.085000    900.222500    831.682500    871.370000
max    19475.800000  20089.000000  18974.100000  19497.400000

In [4]:
df = df[~(df['Date'] < '2015-08-20')]

In [5]:
df.describe()

               Open          High           Low         Close
count    916.000000    916.000000    916.000000    916.000000
mean    2499.936627   2600.416594   2393.177238   2511.732194
std     3809.887192   3997.476495   3583.323898   3819.862779
min      210.070000    226.320000    199.570000    210.500000
25%      438.805000    447.130000    433.985000    439.190000
50%      741.110000    750.090000    733.110000    741.315000
75%     2607.462500   2732.290000   2531.642500   2608.600000
max    19475.800000  20089.000000  18974.100000  19497.400000

In [6]:
df['Volume'] = df['Volume'].str.replace(',', '')

In [7]:
df['Market Cap'] = df['Market Cap'].str.replace(',', '')

In [8]:
df['Volume'].head()

0    9926540000
1    7652090000
2    8744010000
3    8660880000
4    7296160000
Name: Volume, dtype: object

In [9]:
df['Market Cap'].head()

0    189536000000
1    178055000000
2    187663000000
3    172191000000
4    170960000000
Name: Market Cap, dtype: object

In [10]:
df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')

In [11]:
df['Market Cap'] = pd.to_numeric(df['Market Cap'], errors='coerce')

In [12]:
df.dtypes

Date          datetime64[ns]
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume                 int64
Market Cap             int64
dtype: object

In [14]:
df.rename(columns = {'Market Cap':'Market_Cap'}, inplace = True)

In [15]:
df.head()

        Date     Open     High       Low    Close      Volume    Market_Cap
0 2018-02-20  11231.8  11958.5  11231.80  11403.7  9926540000  189536000000
1 2018-02-19  10552.6  11273.8  10513.20  11225.3  7652090000  178055000000
2 2018-02-18  11123.4  11349.8  10326.00  10551.8  8744010000  187663000000
3 2018-02-17  10207.5  11139.5  10149.40  11112.7  8660880000  172191000000
4 2018-02-16  10135.7  10324.1   9824.82  10233.9  7296160000  170960000000